---
title: Home
layout: sidebar
order: 1
permalink: /
---

<div class="block">
  <article class="page-content">

    <!-- include the about.md and process to html -->
    <div id="about-section">
      {% capture about %}{% include about.md %}{% endcapture %}
      {{ about | markdownify }}
    </div>
    <h2>Posts & Papers</h2>

    <div id="post-list">
      {%- assign _posts = site.posts -%} {%- assign posts = _posts | sort:
      'date' | reverse -%} {%- for post in site.posts %}
      <div class="post-area">
        <div class="row">
          <div
            class="{% if post.image %} col-xl-8 col-lg-7 col-md-6 col-sm-12 order-2 order-md-1 {% else %} col-xl-12 col-lg-12 col-md-12 col-sm-12 {% endif %}">
            <div class="post-info-container">
              <h3 class="card-title">
                {% if post.no_page != true %}
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                {% else %}
                {% for link in post.links %}
                {% if link.name == "Paper" %}
                <a href="{{ link.url }}" target="_blank">{{ post.title }}</a>
                {% endif %}
                {% endfor %}
                {% endif %}
              </h3>
              {%- if post.paper_authors -%}
              <p class="paper-authors">
                {{ post.paper_authors }}
              </p>
              {%- endif -%}

              <p class="post-excerpt">
                {{ post.content | truncatewords:60 | strip_html }}
              </p>

              <p>
                {%- if post.links -%}
                {%- for link in post.links -%}
                <a href="{{ link.url }}" class="">{{ link.name }}</a>{% if forloop.last %}{% else %} / {% endif %}
                {%- endfor -%}
                {%- endif -%}
                {%- if post.no_page != true -%}
                <a href="{{ post.url | prepend: site.baseurl }}">Blog Post</a>
              </p>
              {% endif %}
              <p class="subtitle post-meta">
                {{ post.date | date_to_long_string }}
              </p>
            </div>
          </div>
          {% if post.image %}
          <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 order-1 order-md-1">
            <div class="post-img-container">
              <img class="post-img" src="{{ post.image }}" alt="{{ post.title }}" />
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor -%}
    </div>
</div>
</article>
</div>