---
layout: default
title: Projects
permalink: /projects2/
---

<!-- Portfolio Start -->
<section id="portfolio-work">
  <div class="container">
    <div class="section-title">
      <h1>Projects</h1>
      <p class='subtitle'> This is a selection of some of the projects that I have completed or am working on outside of my professional career. Check out my <a href="https://github.com/erees1">Github</a> for a more exhaustive / up to date list. Some projects have an asscociate page - click 'Demo' to see more!</p>
    </div>
        <div class="block">
          <div class="portfolio-menu">
            <ul>
              <li class="filter" data-filter="all">Show All</li>
              <li class="filter" data-filter=".computer-vision">
                Computer Vision
              </li>
              <li class="filter" data-filter=".nlp">NLP</li>
              <li class="filter" data-filter=".statistics">Statistics</li>
            </ul>
          </div>
          <div class="portfolio-contant">
            <ul id="portfolio-contant-active">
              {%- assign _projects = site.project_items | sort: 'order' -%} {%
              for project in _projects %} {% if project.draft == false %}
              <li class="mix {{project.category}}">
                <div class='project-area'>
                <div class="row">
                  <!-- <div class='col-md-8 col-sm-12'>
                  
                </div> -->
                  <div class="col-md-4 col-sm-5 col-xs-12">
                    <a href="#">
                      <img src="{{ site.baseurl }}/{{project.image}}" alt=""
                    /></a>
                  </div>

                  <div class="col-md-8 col-sm-7 col-xs-12 fill-height">
                    <h3>{{project.title}}</h3>
                    <i>{{project.content}}</i>
                    <ul class="project-links">
                      {% if project.github_repo %}
                      <li class="project-links">
                        <div class="button_cont">
                          <a
                            class="cta-style-4"
                            href="{{site.github_url}}/{{project.github_repo}}"
                            ><i class="fa fa-lg fa-github"></i> Github</a
                          >
                        </div>
                      </li>
                      {% endif %} {% if project.project_page %}
                      <li class="project-links">
                        <div class="button_cont">
                          <a
                            class="cta-style-4"
                            href="{{site.baseurl}}/{{project.project_page}}"
                            ><i class="fa fa-eye fa-lg"></i> Demo</a
                          >
                        </div>
                      </li>
                      {% endif %} {% if project.blog_post %}
                      <li class="project-links">
                        <div class="button_cont">
                          <a
                            class="cta-style-4"
                            href="{{site.baseurl}}/{{project.blog_post}}"
                            ><span><i class="fa fa-pencil fa-lg"></i> Post </a
                          >
                        </div>
                      </li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
              </li>
              {% endif %} {% endfor %}
            </ul>
          </div>
        </div>
      </div>

</section>
