---
layout: default
title: Projects
permalink: /projects/
---

<!-- Portfolio Start -->
<section id="portfolio-work">
  <div class="container">
    <div class="page-title">
      <h1>Projects</h1>
      <p class="subtitle">
        This is a selection of some of the projects that I have completed or am
        working on outside of my professional career. Check out my
        <a href="https://github.com/erees1">Github</a> for a more exhaustive /
        up to date list. Some projects have an asscociate page - click 'Demo' to
        see more!
      </p>
    </div>
    <div class="block">
      <div class="portfolio-menu">
        <ul>
          <button class="filter btn-sm" data-filter="all">Show All</button>
          <button class="filter btn-sm" data-filter=".computer-vision">
            Computer Vision
          </button>
          <button class="filter btn-sm" data-filter=".nlp">NLP</button>
          <button class="filter btn-sm" data-filter=".statistics">Statistics</button>
        </ul>
      </div>
      <div class="portfolio-contant">
        <ul id="portfolio-contant-active">
          <div class="row">
            {%- assign _projects = site.project_items | sort: 'order' -%} {% for
            project in _projects %} {% if project.draft == false %}
            <div class="col-lg-6 col-md-6 col-sm-12 mix {{project.category}}">
              <div class="project-area">
                <div class="card mb-4 shadow-sm project-card">
                  <div class="row no-gutters">
                    <div class="col-lg-12 col-md-12">
                      <div class="card-img">
                        <img
                          class="card-img-top project-img"
                          src="{{ site.baseurl }}/{{project.image}}"
                          alt=""
                        />
                      </div>
                    </div>
                    <div class="col-lg-12" col-md-12>
                      <div class="card-body">
                        <div class="body-wrapper">
                          <h5 class="card-title">{{project.title}}</h5>
                          <p class="card-text">{{project.content}}</p>
                          <div class="stick-bottom">
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <div>
                                {% if project.github_repo %}
                                <a
                                  role="button"
                                  class="btn btn-sm btn-outline-secondary"
                                  href="{{site.github_url}}/{{project.github_repo}}"
                                >
                                  <i class="fa fa-lg fa-github"></i> Github
                                </a>
                                {% endif %} {% if project.project_page %}
                                <a
                                  role="button"
                                  class="btn btn-sm btn-outline-secondary"
                                  href="{{site.baseurl}}/{{project.project_page}}"
                                >
                                  <i class="fa fa-lg fa-eye"></i> Demo
                                </a>
                                {% endif %} {% if project.blog_post %}
                                <a
                                  role="button"
                                  class="btn btn-sm btn-outline-secondary"
                                  href="{{site.baseurl}}/{{project.blog_post}}"
                                >
                                  <i class="fa fa-pencil fa-lg"></i> Post
                                </a>
                                {% endif %}
                              </div>
                              <small class="text-muted">
                                {% if project.date %} {{project.date | date:
                                "%b-%y" }} {% endif %}</small
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %} {% endfor %}
          </div>
        </ul>
      </div>
    </div>
  </div>
</section>
