<div id="sidebar" class="sticky-top">
  <div class="sidebar-left">
    <a class="avatar-container" href="/">
      <img class="avatar" src="{{site.avatar_path}}" alt="Img" />
    </a>
    <div class="user-info">
      <div class="user-name">{{site.name}}</div>
      <div class="user-desc">{{site.job_title}}</div>

      <div class="sidebar-social">
        <ul class="">
          <li class="sidebar-location">
            <p class="sidebar-links">
              <svg class="fas fa-md fa-location-dot"></svg>
              <span>{{ site.location }}</span>
            </p>
          </li>
          <li>
            <a class="sidebar-links" href="{{ site.github_url }}">
              <svg
                class="fab fa-github"></svg>
              <span class="social-link-name">Github</span>
            </a>
          </li>
          <li>
            <a class="sidebar-links" href="{{ site.linkedin_url }}">
              <svg class="fab fa-md fa-linkedin"></svg>
              <span class="social-link-name">LinkedIn</span>
            </a>
          </li>
          <li>
            <a class="sidebar-links" href="{{ site.twitter_url }}">
              <svg class="fab fa-md fa-twitter"></svg>
              <span class="social-link-name">Twitter</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
