@import "colours.scss";
/*--
	Buttons / Links start
--*/
.cta-style-1 {
    border-radius: 4px;
    background: var(--highlight-dark) !important;
    border: none;
    color: white !important;
    text-align: center;
    text-transform: uppercase;
    padding: 7px 20px;
    width: 200px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
  }
  .cta-style-1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
  }
  .cta-style-1 span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .cta-style-1:hover span {
    padding-right: 25px;
  }
  .cta-style-1:hover span:after {
    opacity: 1;
    right: 0;
  }
  .cta-style-2 {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: var(--highlight-light);
    padding: 5px 15px;
    border-radius: 6px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
  }
  .cta-style-2:hover {
    background: var(--highlight-dark);
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
  }
  .cta-style-3 {
    color: var(--highlight-light) !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 3px 12px;
    border: 2px solid var(--highlight-light) !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.5s ease 0s;
  }
  .cta-style-3:hover {
    color: var(--highlight-dark) !important;
    border-radius: 20px;
    border-color: var(--highlight-dark) !important;
    transition: all 0.5s ease 0s;
  }
  .cta-style-4 {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: var(--blue-links);
    padding: 5px 15px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.2s ease 0s;
  }
  .cta-style-4:hover {
    background: var(--highlight-dark);
    // letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.2s ease 0s;
  }
  .btn-custom-1 {
    color: #fff !important;
    text-transform: uppercase;
    background-color: var(--blue-links);
    border: none;
    border-radius: 5px
  }
  .btn-custom-1:hover {
    background-color: var(--highlight-dark);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.2s ease 0s;
  }