/*--
	Colors
--*/
:root {
  --highlight-dark: rgb(63, 63, 72);
  --highlight-light: rgb(70, 132, 153);
  --text-grey: rgb(54, 54, 54);
  --dark-link-hover: rgb(41, 41, 46);
  --text-blue: rgb(33, 37, 41);
  --subtitle-text: rgb(103, 103, 103);
  --filter-selected: rgb(63, 63, 72);
  // --blue-links: rgb(29, 103, 189);
  --blue-links: rgb(40,	138,	226	);

}
