$hamburger-padding-x: 0px;
$hamburger-padding-y: 0px;
$hamburger-types: (collapse);
$hamburger-layer-width: 26px;
$hamburger-layer-height: 2px ;
$hamburger-layer-spacing: 6px ;
$hamburger-layer-color: rgb(92, 92, 92);
$hamburger-hover-opacity: 1;

