/*		
Bootstrap breakpoints:
--breakpoint-xs:0;
--breakpoint-sm:576px;
--breakpoint-md:820px;
--breakpoint-lg:992px;
--breakpoint-xl:1200px
    */

@media only screen and (max-width: 819px) {
  body {
    font-size: 15px;
  }
  .heading {
    padding-left: 0px;
  }
  .center-mobile{
    text-align: center;
  }
  /*---------------------------------------------
					Index Start 
-----------------------------------------------*/
  #slider {
    padding-top: 90px;
    padding-bottom: 100px;
  }
  #slider .block {
    padding-left: 0px;
  }
  #slider .block h1 {
    font-size: 27px;
  }
  #slider .block p {
    font-size: 16px;
  }
}

