---
layout: default
---

<article id="post">
  <div class="blog-title">
    <div class="container-xl l-fixed-content">
      <div class="row justify-content-md-center">
        {% if page.has_toc == true %}
        <div class="col-lg">
          <div class="TOC"></div>
        </div>
        {% endif %}
        <div class="col-lg-9">
          <h1>{{ page.title }}</h1>
          <div class="post-info-wrapper" id="add_after_me">
            <p class="italic">
              <span class="bold">
                {{ page.date | date: "%B %-d, %Y"}} · {{ page.author }}
              </span>
            </p>
          </div>
        </div>
        {% if page.has_toc == true %}
        <div class="col-xl-1"></div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="container-xl l-fixed-content">
    {% if page.has_toc == false %}
    <div class="row justify-content-md-center">
      <div class="col-lg-9" markdown="1">{{ content }}</div>
    </div>
    {% else %} {{ content }} {% endif %}
  </div>
  <div class="btp">
    <div class="container-xl">
      <p>
        <a href="{{ site.baseurl }}/">Back to posts</a>
      </p>
    </div>
  </div>
</article>
