---
layout: sidebar
---

<!-- Portfolio Start -->

<div class="block">
  <article class='page-content' id="portfolio-work">
    <section class="no-padding">
      <h1>{{page.title}}</h1>
        <p>{{content}}</p>
    </section>
    {% if site.show_project_filter == true %}
    <div class="portfolio-menu">
      <ul>
        <button class="filter btn-sm" data-filter="all">Show All</button>
        <button class="filter btn-sm" data-filter=".computer-vision">
          Computer Vision
        </button>
        <button class="filter btn-sm" data-filter=".nlp">NLP</button>
        <button class="filter btn-sm" data-filter=".statistics">
          Statistics
        </button>
        <button class="filter btn-sm" data-filter=".paper-imp">
          Paper Implementations
        </button>
      </ul>
    </div>
    {% endif %}

    <section class="no-padding">
      <h2>Demos</h2>
      <div class="portfolio-contant">
        <ul id="portfolio-contant-active">
          <div class="row">
            {%- assign _projects = site.project_items | sort: 'order' -%} {% for
            project in _projects %} {% if project.draft == false %} {% if
            project.demo == true %}
            {% if site.show_project_filter == true %}
            <div class="col-lg-6 col-md-6 col-sm-12 mix {{project.category}}">
              {% elsif site.show_project_filter == false %}
              <div class="col-lg-6 col-md-6 col-sm-12">
                {% endif %}
                <div class="project-area">
                  <div class="card mb-4 shadow-sm project-card">
                    <div class="row no-gutters">
                      <div class="col-lg-12 col-md-12">
                        <div class="card-img">
                          <a href="{{site.baseurl}}/{{project.project_page}}">
                            <img class="card-img-top project-img" src="{{ site.baseurl }}/{{project.image}}" alt="" />
                          </a>
                        </div>
                      </div>
                      <div class="col-lg-12" col-md-12>
                        <div class="card-body">
                          <div class="body-wrapper">
                            <h5 class="card-title">{{project.title}}</h5>
                            <p class="card-text">{{project.content}}</p>
                            <div class="stick-bottom">
                              <div class="d-flex justify-content-between align-items-center">
                                <div>
                                  {% if project.github_repo %}
                                  <a role="button" class="btn btn-sm btn-outline-secondary"
                                    href="{{site.github_url}}/{{project.github_repo}}">
                                    <i class="fa fa-lg fa-github"></i> Github
                                  </a>
                                  {% endif %} {% if project.project_page %}
                                  <a role="button" class="btn btn-sm btn-outline-secondary"
                                    href="{{site.baseurl}}/{{project.project_page}}">
                                    <i class="fa fa-lg fa-eye"></i> Demo
                                  </a>
                                  {% endif %} {% if project.blog_post %}
                                  <a role="button" class="btn btn-sm btn-outline-secondary"
                                    href="{{site.baseurl}}/{{project.blog_post}}">
                                    <i class="fa fa-pencil fa-lg"></i> Post
                                  </a>
                                  {% endif %}
                                </div>
                                <small class="text-muted">
                                  {% if project.date %} {{project.date | date:
                                "%b-%y" }} {% endif %}</small>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %} {% endif %} {% endfor %}
            </div>
        </ul>
      </div>
    </section>

    <section class="no-padding">
      <h2>Other / Open Source</h2>

      <div class="portfolio-contant-extra">
        <ul id="portfolio-contant-active">
          {%- assign _projects = site.project_items | sort: 'order' -%} {%
              for project in _projects %} {% if project.draft == false %} {% if
              project.demo != true %}
          <li>
            <div mix {{project.category}}">
              <b>{{project.title}}</b>
              <p> - {{project.content}}</p>
              <div class='non-demo-project-links'>
                {% if project.github_repo %}
                <a role="button" class="btn btn-xs btn-outline-secondary" href="{{site.github_url}}/{{project.github_repo}}">
                  Github
                </a>
                {% endif %} {% if project.project_page %}
                <a role="button" class="btn btn-xs btn-outline-secondary" href="{{site.baseurl}}/{{project.project_page}}">
                  Demo
                </a>
                {% endif %} {% if project.blog_post %}
                <a role="button" class="btn btn-xs btn-outline-secondary" href="{{site.baseurl}}/{{project.blog_post}}">
                  Post
                </a>
                {% endif %}
              </div>
          </div>
          </li>
          {% endif %} {% endif %} {% endfor %}
        </ul>
      </div>
    </section>
</div>
</article>